Flask==2.3.2
Flask-SQLAlchemy==3.0.5
psycopg2-binary==2.9.6
Flask-Migrate==4.0.4
Flask-WTF==1.1.1
Flask-Login==0.6.3
Flask-Bcrypt==1.0.1
python-dotenv==1.0.0

Flask-Caching==2.1.0       # Caching for improved performance
gunicorn==20.1.0           # WSGI server for deployment
Flask-Mail==0.9.1          # For email notifications if required in the future
